@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

ql-blank{
  border: none !important;
}

.ql-container.ql-snow{
  border: none !important;
}
.ql-container{
  height: 80vh !important;
}
/* 
.ql-container{
width: 8.5in;
min-height: 11in;
padding: 1in;
margin: 1rem;
box-shadow: 0 0 5px rgba(0, 0, 0, -5);
} */